{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Список торговых точек</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Тип</th>
          <th scope="col">Организация</th>
          <th scope="col">Адрес</th>
          <th scope="col">Руководитель</th>
        </tr>
      </thead>
      <tbody>
        {% for trade_point in object_list %}
          <tr style="cursor: pointer;" onclick="window.location='{% url 'organization:trade_points-detail' trade_point.pk %}'">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ trade_point.name }}</td>
            <td>{{ trade_point.get_type_display }}</td>
            <td>{{ trade_point.organization }}</td>
            <td>{{ trade_point.address }}</td>
            <td>{{ trade_point.leader }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}