<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">АИС Успеваемость</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'peoples:student-list' %}active{% endif %}"
             href="{% url 'peoples:student-list' %}">Студенты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'peoples:stuff-list' %}active{% endif %}"
             href="{% url 'peoples:stuff-list' %}">Сотрудники</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'main:department-list' %}active{% endif %}"
             href="{% url 'main:department-list' %}">Кафедры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'main:faculty-list' %}active{% endif %}"
             href="{% url 'main:faculty-list' %}">Факультеты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>