<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Торговая Система</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'organization:order-list' %}active{% endif %}"
             href="{% url 'organization:order-list' %}">Заказы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'organization:suppliers-list' %}active{% endif %}"
             href="{% url 'organization:suppliers-list' %}">Поставщики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'organization:trade_points-list' %}active{% endif %}"
             href="{% url 'organization:trade_points-list' %}">Торговые точки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'organization:organizations-list' %}active{% endif %}"
             href="{% url 'organization:organizations-list' %}">Организации</a>
        </li>
      </ul>
    </div>
  </div>
</nav>